body {
  margin: 0;
}

.vendrePage {
  min-height: 100vh;
  width: 100%;
  background-image: url("/SpotifyLogoRed.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 120px 20px 60px;
  position: relative;
}

.vendrePage h1 {
  margin-bottom: 20px;
}

.retourBtn {
  position: absolute;
  top: 30px;
  left: 40px;
  padding: 12px 20px;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.message {
  font-weight: 900;
  margin-bottom: 20px;
}

.section {
  background: rgba(176, 20, 20, 0.245);
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}

.section h2 {
  margin-top: 0;
  color: white;
}

.section input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px auto;
  display: block;
  background-color: rgba(0, 0, 0, 0.84);
}

.section button {
  padding: 10px 16px;
  background: #000000;
  color: rgb(255, 0, 0);
    font-weight: 900;
  border-radius: 6px;

}

.resultBox {
  margin-top: 15px;
  color:white;
}

.parfumItem {
  margin-bottom: 15px;
}