.userStatus {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 14px;
  border-radius: 999px;

  cursor: pointer;
  transition: 0.2s;
}

.userStatus:hover {
  transform: scale(1.05);
}

.userAvatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.userText {
  font-size: 14px;
  font-weight: 700;
}

.online {
  color: #00ff88;
}

.offline {
  color: white;
  opacity: 0.85;
}