.statSection {
  width: 100%;
  display: flex;
  justify-content: center;
}

.statCard {
  position: relative;
  width: 100%;
  max-width: 420px;
  min-height: 290px;

  padding: 25px;
  border-radius: 24px;

  background: rgb(0, 0, 0);
  backdrop-filter: blur(12px);


  color: white;
}

.labelStat {
  position: absolute;
  top: -12px;
  left: 20px;

  background: #ff0000;
  color: white;
  padding: 6px 14px;

  border-radius: 999px;
  font-size: 13px;
  font-weight: 900;
}

.statContent {
  margin-top: 10px;
}

.statTitle {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 20px;
}

.statList {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.statItem {
  background: rgb(255, 254, 254);
  border-radius: 16px;
  padding: 14px 16px;
  color: black;
}

.statLabel {
  margin: 0;
  font-size: 14px;
  opacity: 0.75;
}

.statValue {
  margin: 5px 0 0 0;
  font-size: 28px;
  font-weight: 900;
}