body {
  margin: 0;
}

.homeDiv {
  min-height: 100vh;
  width: 100%;
  background-image: url("/bluePurpleBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;

  margin: 0 auto;
}

.titreHome {
  font-size: 52px;
  margin-bottom: 25px;
  color: rgb(255, 255, 255);
  text-shadow: 0 4px 20px rgb(255, 255, 255);
  font-weight: 900;
}

.soustitreHome {
  font-size: 26px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  max-width: 750px;
  margin: 0 auto 40px;
  text-shadow: 0 3px 15px rgb(255, 255, 255);
}

.BTNcompte {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  background-image: url("/loginPfp.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 17px;
  padding-bottom: 8px;
}



/* SECTION VENDRE ! */

.vendreSection {
  text-align: center;
}

.titreVendre {
  font-size: 40px;
  font-weight: 900;
  color: white;
}

.texteVendre {
  font-size: 20px;
  color: white;
  max-width: 700px; /* A CHANGER !!! */
  margin: 0 auto 25px; /* A CHANGER !!! */
}

.BTNvendre {
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
  background: white;
  color: black;
}

.BTNvendreTop {
  position: absolute;
  top: 30px;
  right: 150px; /* placé à gauche du bouton compte */
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: white;
  background-image: url("/bloodd.png"); /* image différente */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 17px;
  padding-bottom: 8px;
}

.BTNchangeBg {
  position: absolute;
  top: 30px;
  right: 260px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: 900;
  font-size: 17px;
  padding-bottom: 8px;
  cursor: pointer;
  background-color: black;
}

.BTNcommentaireTop {
  position: absolute;
  top: 30px;
  right: 370px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: black;
  background-image: url("/Hello-kitty.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: rgb(255, 246, 246);
  font-weight: 900;
  font-size: 17px;
  padding-bottom: 8px;
  cursor: pointer;
}






.titrecool {
  display: inline-block;
  color: white;
  font-size: 65px;
  font-weight: 900;
  letter-spacing: 5px;
  padding: 12px 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  text-align: center;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
}


.soustitrecool {
  margin-top: 10px;

  font-size: 23px;
  font-weight: 4000;
  letter-spacing: 2px;
  color: rgb(0, 47, 255);
  font-family: "Courier New", monospace; 
}

.soustitrecool2 {
  margin-top: 10px;
  font-size: 23px;
  font-weight: 4000;
  letter-spacing: 2px;
  color: rgb(0, 47, 255);
  font-family: "Courier New", monospace; 
}

