.hero {
  width: 100%;
  padding: 30px 40px;

  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 40px; 



}



.hero-left {
  max-width: 500px;
}

.hero-title {
  font-size: 60px;
  font-weight: 900;
  margin: 0;
  color: rgb(255, 0, 0);
}

.hero-desc {
  margin-top: 5px;
  font-size: 23px;
  opacity: 0.7;
}


