body {
  margin: 0;
}

.commentairePage {
  min-height: 100vh;
  width: 100%;
  background-image: url("/frutigerBG.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 120px 20px 60px;
  box-sizing: border-box;
}

.retourBtnCom {
  position: absolute;
  top: 30px;
  left: 40px;
  padding: 12px 20px;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

.commentairePage h1 {
  margin-bottom: 20px;
  color: white;
}

.messageCom {
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.sectionCom {
  background: rgba(255, 255, 255, 0.552);
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 10px;

  width: 100%;
  max-width: 500px;
}

.sectionCom h2 {
  margin-top: 0;
  color: rgb(0, 0, 0);
}

.sectionCom input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px auto;
  display: block;
  border: none;
  border-radius: 6px;
}

.sectionCom button {
  padding: 10px 16px;
  background: #222;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  margin-top: 10px;
}

.resultBoxCom {
  margin-top: 15px;
}

.commentaireItem {
  margin-bottom: 15px;
  color: white;
}