.navbarMistify {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  box-sizing: border-box;
  position: sticky; 
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(2px);
}

.navbarGauche {
  display: flex;
  align-items: center;
}
.navbarDroite {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navBtn {
  border-radius: 14px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 900;
  color: white;
  border: none;
  background: rgba(255, 255, 255, 0.12);
}


.navBtn:hover {
  transform: scale(1.15);
}

.navThemeBtn {
  background-size: cover;
  background-position: center;
}
.panierBtn {
  position: relative;
  background: none;
  border: none;
  padding: 0;
}

.panierBtn img {
  width: 90px;
  height: auto;
  display: block;
  border-radius: 12px;
  transition: 0.2s ease;
}

.panierText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 18px;
}


.panierBtn:hover img {
  transform: scale(1.08);
  filter: brightness(1.2);
}

.profilBtn{
  position: relative;
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  top: 50%;
  /* left: 50%; */
  right: 70%;
  /* transform: translate(-50%, -50%);  */
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 18px;
}

.profilBtn:hover{
  transform: scale(1.08);
  filter: brightness(1.2);
}
