body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;

  background-image: url("/bloodd.png");
  background-size: cover;        /* l'image remplit l'écran */
  background-position: center;   /* centrée */
  background-repeat: no-repeat;  /* pas répétée */
  background-attachment: fixed;  /* effet propre quand on scroll */
}

.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: red;
}
h2 {
  color: rgb(255, 255, 255);
}
h3 {

  color: red;
}

.box {
  background: rgba(192, 94, 160, 0.301);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  background-color: #000000;
  color: rgb(255, 255, 255);
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f80202fb;
  color: rgb(255, 255, 255);
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.message {
  color: #2563eb;
  font-weight: bold;
}

pre {
  background: #3500f567;
  padding: 10px;
  border-radius: 8px;
  overflow-x: auto;
  color: white;
}
.image-section {
  text-align: center;
}

.mistify-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}