body {
  background-color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.authDiv{
  margin: 0;
  background-color: black;
  background-image: url("/bloodd.png");
  background-size: cover;        /* l'image remplit l'écran */
  background-position: center;   /* centrée */
  background-repeat: no-repeat;  /* pas répétée */
  background-attachment: fixed;  /* effet propre quand on scroll */
}
.containerAuth {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  
}

.titre_page{
  text-align: center;
  color: rgb(255, 0, 200);
}




.box {
  background: rgba(192, 94, 160, 0.301);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  background-color: #000000;
  color: rgb(255, 255, 255);
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f80202fb;
  color: rgb(255, 255, 255);
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.message {
  color: #3cff00;
  font-weight: bold;
}

pre {
  background: #f706063d;
  padding: 10px;
  border-radius: 8px;
  overflow-x: auto;
  color: rgb(30, 255, 0);
}
.image-section {
  text-align: center;
}

.mistify-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}

.backBTN {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 8px 14px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}







.whoami {
  background: rgba(0, 0, 0, 0.55);
  border: 2px solid rgb(255, 0, 200);
  border-radius: 14px;
  padding: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.titreWhoAmi{
  color: rgb(255, 255, 255);
  font-size: 34px;
  font-weight: 900;
}

.adminOUpas {
  color: rgb(0, 255, 76);
  font-size: 24px;
  font-weight: 900;
}